<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="10" />
		<setting name="defaultFetchSize" value="100" />
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- NULL SET when use map-->
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="hashMap" type="java.util.HashMap" />
		<typeAlias alias="linkedHashMap" type="java.util.LinkedHashMap" />
		<typeAlias alias="camelMap" type="cmn.util.dao.CamelMap" />
	</typeAliases>
</configuration>